form{
    /* background-color: rgb(253, 230, 203);*/
    background-image: url(white-paper-application-form-with-print-on-abstract-blue-rays-background-illustration-vector.jpg);
    background-repeat: no-repeat;
    background-position: 0%;
    background-size: auto;
    background-attachment: fixed;
}
